<section>
  <video
    #video
    [width]="videoOptions.width"
    [height]="videoOptions.height"
    [src]="videoOptions.src"
    [muted]="videoOptions.muted"
    (timeupdate)="updateProgressBar()"
  >
  </video>

  <article class="controls">

    <button (click)="playPause()">></button>

    <progress
      #progressBar
      max="100"
      [value]="progressValue"
      (click)="seek($event)"
    ></progress>

    <button (click)=muteVolume()>Mute</button>

    <button (click)=fullScreen()>FullScreen</button>

    <button #loopSegment>LoopVideoSegment</button>

  </article>
</section>

