<section>
  <figure>
    <video
      #video
      [width]="videoOptions.width"
      [height]="videoOptions.height"
      [src]="videoOptions.src"
      [muted]="videoOptions.muted"
      (timeupdate)="updateProgressBar()"
    >
    </video>

    <figcaption class="controls">

      <button #playPause>►</button>
      <progress
        #progressBar
        id="progress"
        max="100"
        [value]="progressValue"
        (click)="seek($event)"
        (change)="test($event)"
      ></progress>

      <button (click)=muteVolume()>Mute</button>

      <button (click)=fullScreen()>FullScreen</button>

      <button #loopSegment>LoopVideoSegment</button>

    </figcaption>
  </figure>
</section>

