video {
  &::-webkit-media-controls{
    display:none !important;
  }
}
video {
  &::-webkit-media-controls-enclosure{
    display:none !important;
  }
}

.controls:fullscreen {
  display: flex !important;
  position: fixed !important;
  z-index: 2147483647 !important;
}

.controls {
  .progressBarVideo {
    width: 510px;
    border: none;
  }

  .play-pause {
    border: none;
    background: none;
    outline: none;
  }
}

.setting-list {
  width: 100px;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.setting-list > li {
  list-style-type: none;
  border-bottom: solid 1px #8b8b8b;
  padding: 8px 0;
}

.setting-list > li:last-child {
  border-bottom: none;
}
