<section>
  <figure #containerVideoElement>
    <video
      #video
      [width]="videoOptions.width"
      [height]="videoOptions.height"
      [src]="videoOptions.src"
      [muted]="videoOptions.muted"
    >
    </video>

    <figcaption class="controls">
      <button #playPause class="play-pause">
        <img *ngIf="!isPlay" src="../../assets/images/icons/play-button.png" alt="play">
        <img *ngIf="isPlay" src="../../assets/images/icons/pause.png" alt="pause">
      </button>

      <input
        #progressBarVideo
        type="range"
        class="progressBarVideo"
        min="0"
        [max]="video.duration"
        step="1"
        [value]="progressBarVideoValue"
        (click)="setProgressVideoValue($event)"
      />

      <input
        type="range"
        class="progressBarVolume"
        min="0"
        max="1"
        step="0.1"
        [value]="progressBarVolumeValue"
        (change)="changeVolume($event)"
      />

      <button (click)=muteVolume()>Mute</button>

      <button (click)=fullScreen()>FullScreen</button>

      <button #loopSegment>LoopVideoSegment</button>

      <button (click)="isOpen = !isOpen" type="button" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        <img src="assets/images/icons/settings.png" alt="settings"/>
      </button>

      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isOpen"
      >
        <ul class="setting-list">
          <li>
            <button (click)="snapshot()">Screen</button>
          </li>
        </ul>
      </ng-template>

    </figcaption>
  </figure>
  <canvas #canvas [width]="videoOptions.width" [height]="videoOptions.height"></canvas>
</section>

