video {
  &::-webkit-media-controls{
    display:none !important;
  }
}
video {
  &::-webkit-media-controls-enclosure{
    display:none !important;
  }
}

.controls:fullscreen {
  display: flex !important;
  position: fixed !important;
  z-index: 2147483647 !important;
}

.controls {
  .progressBarVideo {
    width: 510px;
    border: none;
  }
}
