.container-video {
  padding-left: 5px;
  border-bottom: 1px solid slateblue;

  &:hover {
    background: #f1f5f6;
    box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.5);
    border-radius: 2px;
  }

  .video {
    display: flex;
    justify-content: flex-start;
    position: relative;
    padding-top: 10px;
    cursor: pointer;

    .video-duration {
      position: absolute;
      bottom: 10px;
      right: 45px;
      font-size: 14px;
      font-family: serif;
      color: white;
    }

    .remove {
      margin-top: -8px;
      height: 0;
      font-size: 30px;
      color: #cc9a9a;
      background: none;
      border: none;
      visibility: hidden;
      transition: visibility .2s linear;
      cursor: pointer;
    }

    &:hover .remove {
      visibility: visible;
    }
  }

  .video video {
    object-fit: fill;
  }
}
